<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Edit an existing Lecture Day</title>
</head>

{% extends "Navbar/layout.html" %} 

{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container-fluid mode-banner">
        <h4>Edit Mode<h4>
    </div>
    <div class="container-fluid spacing_elements">
        <h2>Modify an existing Lecture Day</h2>
        <form enctype= "multipart/form-data" method="post" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ LDForm.Title|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ LDForm.Date|as_crispy_field }}
                </div>
              </div>
              {{ LDForm.Description|as_crispy_field }}
              {{ LDForm.LD_Img|as_crispy_field }}
              {{ SPForm.OriginalFile|as_crispy_field }}
              </div>
              <div class="col-md-12 spacing_elements">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Version Number</th>
                            <th scope="col">Date</th>
                            <th scope="col">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for Change in Previous_Version_History %}
                        <tr>
                            <th scope="row">{{ Change.VersionNum }}</th>
                            <td>{{ Change.ModDate }}</td>
                            <td>
                                {{ Change.Comment }}
                            </td>
                        </tr>
                    {% endfor %}
                    
                        <tr>
                        <th scope="row">{{ VHForm.VersionNum|as_crispy_field }}</th>
                        <td>{{ current_date }}</td>
                        <td>
                            {{ VHForm.Comment|as_crispy_field }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="spacing_elements">
                <button type="submit" class="btn btn-success">Update Lecture Day</button>
            </div>
        </form>
    </div>
</body>
{% endblock content %}

</html>