<html>
    <head>
        <title>New Lecture Day</title>
    </head>

{% extends "Navbar/layout.html" %} 

{% load crispy_forms_tags %}

{% block content %}

<body>
    <h2>Create a New Lecture Day</h2>
    <form enctype= "multipart/form-data" method="post" novalidate>
        {% csrf_token %}
        {{ LDForm|crispy }}
        {{ SPForm|crispy }}
        {{ VHForm|crispy }}
        <button type="submit" class="btn btn-success">Create Lecture Day</button>
        </form>
</body>
{% endblock content %}

</html>