<html>
    {% extends "Navbar/layout.html" %} 
    <head>
        <title>Lecture Day</title>

        <!-- Loading Static Files:  -->
        {% load static %}
    </head>

{% block content %}

    <body>        
        <div class="container-fluid container-spacing">
            <div class="row">
                {% if SlidePackInfo.OriginalFile %}     
                    {% if SlidePackInfo.OnlineSlidePack %}
                        <div class="col" style="padding-top: 1%;">
                            <button class="btn wmg-success-btn btn-block" onclick="history.back()" style="font-size: 20pt;">Back</button>
                            <button class="btn wmg-success-btn btn-block" style="font-size: 20pt;">Version History</button>
                            {% if RelatedLDs%}
                            <RelatedContent>
                                <h2 style="padding-top:2%">Related Content:</h2>
                                {% for item in RelatedLDs%}
                                    <div class="card" style="padding-top: 10px; margin-top: 10px;">
                                        {% if item.LD_Img %}
                                            <img src="{{ item.LD_Img.url }}" alt="" class="card-img-top">
                                        {% else %}
                                            <img src="{% static 'img/forgotten_ld_img.jpg' %}" alt="" class="card-img-top">
                                        {% endif %}
                                        <div class="card-body">
                                            <a href="{% url 'LectureDay' Module_Info item.id %}"><h5 class="card-title">{{ item.Title }}</h5></a>
                                            {{ item.Date.date }}
                                            <p class="small text-muted mb-0 ld_text">{{ item.Description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </RelatedContent>
                            {% endif %}
                        </div>
                        <div class="col-10", style="padding:1%;">
                            <BrowserSlides>
                                <div id="SlidePackCarousel" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <canvas id="pdf-canvas" class="d-block w-100" data-file="{{ SlidePackInfo.OnlineSlidePack.url }}"></canvas>
                                                <div class="carousel-caption d-none d-md-block">
                                                    <span style="color: black;">Slide: <span id="page-num"></span> / <span id="page-count"></span></span>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </BrowserSlides>
                        </div>  
                    {% endif %}
                    </div>
                {% else %}
                    <h1 style="padding-left: 19%; padding-bottom: 5%;">The Slide Pack doesn't exists! :(</h1>
                {% endif %}
            </div>
            {% if LectureDayInfo %}
                <div class="row">    
                    <div class="col"></div>
                    <div class="col-10">
                    <ul>
                        <h1>{{LectureDayInfo.Title}}</h1>
                        <div class="row">
                        <div class="user-profile text-center" style="padding-top: 0.2%; color: white;">
                            <div>{{ user.first_name.0 }}{{ user.last_name.0 }}</div>
                        </div>
                        <h3 style="padding-left: 1%;">{{ user.first_name }} {{ user.last_name }}</h3>
                        <h3 style="padding-left: 2%; padding-right: 2%">{{LectureDayInfo.Date.date}}</h3>
                        {% if SlidePackInfo.OriginalFile %}     
                        <a href= "{{ SlidePackInfo.OriginalFile.url }}"
                            download = "{{ SlidePackInfo.OriginalFile.url }}"
                            class="">
                            <button type="button" class="btn btn-labeled btn-success">
                            <span class="btn-label">
                            <i class="bi bi-download"></i>
                            </span>Download Slide Pack
                            </button>
                        </a>
                        {% endif %}
                        </div>
                        <p class="general_font">{{LectureDayInfo.Description}}</p>
                    </ul>
                    </div>
                </div>
            {% else %}
                <p>Oh no something went wrong!</p>
            {% endif %}
        </div>
    </body>

{% endblock content %}

</html>