<html>
    <head>
        <title>Lecture Board - Your Modules</title>
    </head>

{% extends "LectureBoard/layout.html" %} 

{% block content %}

    <body>
        {% if ModulesEnrolled %}
            <ul>
            {% for Module in ModulesEnrolled %}
                <li><a href="{% url 'ModuleBoard' Module.Module_Code %}">{{ Module.Module_Title}}</a></li>
                <description>{{Module.Module_Description}}</description>
            {% endfor %}
            </ul>
        {% else %}
            <p>You have not been enrolled into any modules yet, 
                please contact your Apprentice Tutor for support on this :(</p>
        {% endif %}
    </body>
    
{% endblock content %}

</html>