<html>
    {% extends "Navbar/layout.html" %} 
    <head>
        <title>Lecture Day</title>

        <!-- Loading Static Files:  -->
        {% load static %}
    </head>

{% block content %}

    <body>
        {% if SlidePackInfo.OriginalFile %}     
            <LecturePack>
                {% if SlidePackInfo.OnlineSlidePack %}
                <BrowserSlides role="main">
                    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <canvas id="pdf-canvas" class="d-block w-100" data-file="{{ SlidePackInfo.OnlineSlidePack.url }}"></canvas>
                            <div class="carousel-caption d-none d-md-block">
                              <span>Page: <span id="page-num"></span> / <span id="page-count"></span></span>
                            </div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
                          <i class="fas fa-chevron-left fa-2x"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                        <a class="carousel-control-next" href="#" role="button" data-slide="next">
                          <i class="fas fa-chevron-right fa-2x"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                </BrowserSlides>
                {% endif %}
                <a href= "{{ SlidePackInfo.OriginalFile.url }}"
                    download = "{{ SlidePackInfo.OriginalFile.url }}"
                    class="">
                    <button type="button" class="btn btn-labeled btn-success">
                    <span class="btn-label">
                    <i class="bi bi-download"></i>
                    </span>Download Slide Pack
                    </button>
                </a>
            </LecturePack>
        {% else %}
            <p>The slide pack couldn't be found :(</p>
        {% endif %}
        {% if LectureDayInfo %}
            <ul>
                <h1>{{LectureDayInfo.Title}}</h1>
                <h4>{{LectureDayInfo.Date}}</h4>
                <p>{{LectureDayInfo.Description}}</p>
            </ul>
        {% else %}
            <p>Oh no something went wrong!</p>
        {% endif %}
    </body>

{% endblock content %}

</html>