<html>
    <head>
        <title>Module Page</title>
    </head>

{% extends "LectureBoard/layout.html" %} 

{% load static %}

{% block content %}

    <body>
        {% if LectureList %}
            <ul>
            {% for LectureDay in LectureList %}
            <img src="{{ LectureDay.LD_Img.url }}" 
            style="width: 100%; float: left; margin-right: 10px;" />
                <li><a href="{% url 'LectureDay_StudentView' Module_Code LectureDay.id %}">{{ LectureDay.Title}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No lectures are available for this module yet :(</p>
        {% endif %}
    </body>

{% endblock content %}

</html>