<html>
    <head>
        <title>Module Page</title>
    </head>

{% extends "LectureBoard/layout.html" %} 

{% block content %}

    <body>
        {% if LectureList %}
            <ul>
            {% for LectureDay in LectureList %}
                <li><a href="{% url 'LectureDay' Module_Code LectureDay.id %}">{{ LectureDay.Title}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No lectures are available for this module yet :(</p>
        {% endif %}
    </body>

{% endblock content %}

</html>