<html>
  {% extends "LectureBoard/layout.html" %}
  
  <!-- Loading static files: -->
  {% load static %}

  <!-- Webpage CSS Sheet: -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/pages.css' %}">

  <head>
    <title>Module Board</title>
  </head>

{% block content %}

<body>
  <h1>Module Code: Module Title {{ req_Module_Code.Module_Title }}</h1>
  <h5>Module Tutor Name here</h5>
  <p class="font-weight-normal">Description of the module here</p>

  <!-- Creating Bootstrap Fluid container for LectureDay's-->
  <div class="container-fluid">
    <div class="px-lg-5">
    <!-- Checking if LectureList has items in it -->
      {% if LectureList %}
      <div class="row">
      {% for LectureDay in LectureList %}
          <!-- Creating Gallery items dynamically from LectureList -->
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
              {% if LectureDay.LD_Img %}
                <div class="bg-light rounded shadow-sm"><img src="{{ LectureDay.LD_Img.url }}" alt="" class="img-fluid card-img-top">
              {% else %}
                <div class="bg-light rounded shadow-sm"><img src="{% static 'img/forgotten_ld_img.jpg' %}" alt="" class="img-fluid card-img-top">
              {% endif %}
              <div class="p-4">
                <h5> <a href="{% url 'LectureDay_StudentView' Module_Code LectureDay.id %}" class="text-dark">{{ LectureDay.Title}}</a></h5>
                <p class="small text-muted mb-0">{{ LectureDay.Description }}</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                  <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">{{ LectureDay.Date }}</span></p>
                  <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    {% else %}
        <p>No lectures are available for this module yet :(</p>
    {% endif %}
</body>

{% endblock content %}

</html>