<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Module</title>
</head>

{% extends "Navbar/layout.html" %} 

<!-- Using Crispy Tags to render Django form with Bootstrap elements -->
{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container-fluid mode-banner">
        <h4>Edit Mode<h4>
    </div>
    <div class="container-fluid spacing_elements">
        <h2>Edit an existing Module</h2>
        <!-- Pre-populating Form with data from Database: -->
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <h1>Access to Module</h1>
            <!-- Creating options to choose permissions groups for module: -->
            <div class="container-fluid" style="padding-bottom: 1%;">
                {% for group, bools in permission_groups %}
                    <div class="form-check">
                        <input class="form-check-input" name="item_checkbox" type="checkbox" value="{{ group.name }}" {{ bools }}/>
                        <label class="form-check-label" for="{{ group.name }}">{{ group.name }}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn wmg-success-btn">Create Module</button>
            <button type="button" onclick="window.history.back()" class="btn wmg-cancel-btn">Cancel</button>
        </form>
    </div>
</body>
{% endblock content %}

</html>