<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Create a new Module</title>
    <script>
        function getValues()
        {
            var selected= new Array()
            var chckbox = document.getElementById
        }
    </script>
</head>

{% extends "Navbar/layout.html" %} 

{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container-fluid mode-banner">
        <h4>Edit Mode<h4>
    </div>
    <div class="container-fluid spacing_elements">
        <h2>Create a New Module</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <h1>Access to Module</h1>
            <div class="container-fluid" style="padding-bottom: 1%;">
                {% for group in permission_groups %}
                    <div class="form-check">
                        <input class="form-check-input" name="item_checkbox" type="checkbox" value="{{ group.name }}"/>
                        <label class="form-check-label" for="{{ group.name }}">{{ group.name }}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn wmg-success-btn">Create Module</button>
            <button type="button" onclick="window.history.back()" class="btn wmg-cancel-btn">Cancel</button>
        </form>
    </div>
</body>
{% endblock content %}
</html>