<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lecture Board - Your Modules</title>
</head>

{% extends "Navbar/layout.html" %} 

{% block content %}

<body>
  <div class="container-fluid">
    <div class="col-lg-12 mx-auto lb_banner">
      <div class="text-white p-5 shadow-sm rounded gradient">
        <h1 class="display-4">Welcome to your Lecture Board {{ user.first_name }}!</h1>
        <p class="lead">
          The LectureBoard allows you to view all the lecture days for your modules and view the slide pack for each 
          directly in your browser!<br>Below you will be able to see all the modules that you are enrolled on, a brief 
          description about each of them and a link to the module's 'Lecture Board' so you can view the slides from 
          all your lecture days!<br>
        </p> 
      </div>
    </div>
    <div class="col-lg-12 mx-auto">
      <h2> Your Enrolled Modules:</h2>
      
      {% if ModulesEnrolled %}
          {% for Module in ModulesEnrolled %}
              <div class="accordion" id="accordion">
                  <div class="card">
                    <div class="card-header" id="heading{{forloop.counter}}">
                      <h2 class="mb-0">
                        <button class="btn text-left" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="#collapse{{forloop.counter}}">
                          {{Module.Module_Code}}: {{Module.Module_Title}}
                        </button>
                        <a href="{% url 'ModuleBoard' Module.Module_Code %}" type="button" style="float:right" class="btn btn-primary">Go to Module</a>
                      </h2>
                    </div>
                
                    <div id="collapse{{forloop.counter}}" class="collapse hide" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion">
                      <div class="card-body">
                          {{Module.Module_Description}}
                      </div>
                    </div>
                  </div>
                </div>
          {% endfor %}
      {% else %}
          <p>You have not been enrolled into any modules yet, 
              please contact your Apprentice Tutor for support on this :(</p>
      {% endif %}
    </div>
  </div>
</body>

{% endblock content %}

</html>