<html>
    <head>
        <title>Lecture Board - Your Modules</title>
    </head>

{% extends "Navbar/layout.html" %} 

{% block content %}

    <body>
        <h1>WMGTSS</h1>
        <li><a href="LectureBoard/Modules/edit/">Lecture Board</a></li>>
        <li><a href="#">Quiz Board</a></li>>
        <li><a href="#">Feedback Board</a></li>>
        <li><a href="#">Q & A Board</a></li>>
        <li><a href="#">Notice Board</a></li>>
        <li><a href="#">Calendar Board</a></li>>
    </body>

{% endblock content %}

</html>

