.navbar {
    color:white;
    font-size: 24;
    max-height: 90px;
}

.navbar_appname {
    font-size: 40pt;
    color: white;
    text-align: right;
}

.brand_image{
    height: 100%;
}

.icons {
    font-size: 45pt;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
}

.profile_navbar {
    padding-left: 50px;
    padding-right: 20px;
}

.dropdown_sizing {
    font-size: 24;
    color: green;
}