body {
    background-color:white;
    padding-top: 90px;
  }

.slide_preview {
    height: 250px;
    object-fit:contain;
    padding: 3%;
}

.ld_text {
  overflow:hidden;
  text-overflow: ellipsis;
  text-align: justify;
  white-space: nowrap;
}

.user_profile {
  align-items:center !important;
  justify-content:center !important;
  background-color: #FF5A5F;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.gradient {
  background: linear-gradient(to right, #390e72, #5f65a0, #ee9f6a);
}

.ld_banner {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.general_font {
  color: red;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    outline: red;
    background-color: rgba(255, 0, 0, 0);
}

.carousel-control-prev .fa-chevron-left,
.carousel-control-next .fa-chevron-right {
    color: red;
}
