<!-- Loading Static Files:  -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Icon Library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
   
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- PDF Min JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.min.js"></script>

    <!-- PDF Worker JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.worker.min.js"></script>

    <!-- NavBar CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

    <!-- WebPage CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages.css' %}">

    <!-- LectureBoard JS Functions -->
    <script src="{% static 'js/LectureBoard.js' %}"></script>
</head>

<body>
<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModallabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content search-modal-content search-bar-sizing">
      <div class="modal-body d-block search-bar-sizing">
        <div class="input-group">
          <form method="POST", action="{% url 'LectureBoardSearch' %}">
            {% csrf_token %}
            <div class="container">
              <div class="row">
                  <a data-dismiss="modal" class="icons search-bar-icons shadow-none" id="minimise-search">
                  <i class="bi bi-chevron-up"></i></a>
                  <input type="search" name="searched" class="form-control rounded shadow-none seach-bar" placeholder="Search Lecture Board..." aria-label="Search">
                  <button type="submit" class="btn search-button"><i class="bi bi-search icons" style="font-size: 25pt;"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- User Profile Modal -->
<div class="modal fade" id="UserProfileModal" tabindex="-1" role="dialog" aria-labelledby="UserProfileModallabel" aria-hidden="true">
  <div class="modal-position modal-dialog" role="document">
    <div class="modal-content userprofile-modal-content">
      <div class="modal-body rounded">
          <div class="container" style="padding-top: 10px;">
            <div class="row">
              <div class="col-sm">
                <div style="padding-bottom: 10px;">
                  <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                  <h4>{{ user.username }}</h4>
                </div>
                <a href="{% url 'logout' %}"><button type="button" class="btn btn-secondary profile-modal-elements" style="background-color: #969696;">Logout</button></a>
              </div>
              <div class="col-sm-">
                <div class="text-center align-center user-profile-lrg">
                  <div>{{ user.first_name.0 }}{{ user.last_name.0 }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container time-banner">
          <div class="row">
            <div class="col-sm" style="padding-bottom: 18pt;">
              <a data-dismiss="modal"><i class="bi bi-chevron-up time-banner-icons"></i></a>
              <a href="#"><i class="bi bi-gear time-banner-icons"></i></a>
              <a href="#"><i class="bi bi-three-dots time-banner-icons"></i></a>
            </div>
            <div class="col-sm">
              <span id="clock"> 18:52 13/02/2022 </span>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Notification Panel Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="NotificationModallabel" aria-hidden="true">
  <div class="modal-position modal-dialog" role="document">
    <div class="modal-content userprofile-modal-content">
      <div class="modal-body rounded">
        <i class="bi bi-bell-fill icons" style="color: white;"><h4>Notifications</h4></i>
        <i class="bi bi-chevron-up"></i>
        <button type="button" class="btn btn-secondary profile-modal-elements" style="background-color: #969696;">Clear</button>
          <notification class="notification">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  Application picture
                </div>
                <div class="col-md">
                  Notification information
                </div>
              </div>
            </div>
          </notification>
        </div>
    </div>
  </div>
</div>

<!-- Hidden Content: -->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleHiddenContent">
    <div class="bg-dark p-4">
      {% if SearchFunctionality %}
        <h4 class="text-white"><a data-toggle="modal" data-target="#searchModal">Search</a></h4>
      {% endif %} 
      <a data-toggle="modal" data-target="#notiifcationModal"><h4 class="text-white">Notifications</h4></a>
      <a href="{% url 'logout' %}"><h4 class="text-white">Logout</h4></a>
    </div>
  </div>


<!-- NavBar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleHiddenContent" aria-controls="navbarToggleHiddenContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'img/wmg_logo_no_bg.png' %}" height="60pt" alt="WMGTSS Logo" loading="lazy"/></a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <div class="vertical-align-icon">
          {% if SearchFunctionality %}
            <a data-toggle="modal" data-target="#searchModal" class="bi bi-search icons" style="padding-right: 20px;"></a>
          {% endif %}
        </div>    
      </li>
      <li class="nav-item container">
        <a class="nav-item navbar_appname">WMGTSS</a>
      </li>
    </ul>
    <!-- Notifications -->
    <div>
      <a role="button" data-toggle="modal" data-target="#notificationModal" aria-expanded="false">
        <div class="vertical-align-icon">
          <i class="bi bi-bell-fill icons" style="color: white;"></i> 
          <span class="badge rounded-pill badge-notification"
          style="font-size: 18pt; background-color: #FF5A5F;">2</span>
        </div>
      </a>
    </div>
    <!-- UserProfile -->
    <div class="profile_navbar">
      <a class="d-flex dropdown_sizing" role="button" data-toggle="modal" data-target="#UserProfileModal">
      <div class="user-profile text-center" style="padding-top:2%">
        <div>{{ user.first_name.0 }}{{ user.last_name.0 }}</div>
      </div>
      <div class="container">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      </div>
      </a>
    </div>
  </div>
</nav>
<!-- NavBar -->

{% block content %}{% endblock content %}
</body>

</html>